# Supabase Project Configuration
SUPABASE_URL=https://rdomnnaaaafdczzmwryi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkb21ubmFhYWFmZGN6em13cnlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0ODI4MjYsImV4cCI6MjEwNzA1ODgyNn0.WyI7janNSYB1x1bB-da_YE7fbT13gZ0abxse1Zi5Chw
